html{
    position: relative;
    min-height: 100%;
}

header{
  width: 100%;
  height: 80px;
  background-color: rgb(245, 149, 93);
  position: absolute;
  top: 0;
  margin-bottom: 50px;
}

.logo_image{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

h5{
  width: 100%;
  height: 80px;
  font-size: 2rem;
  color: rgb(48, 47, 46);
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

h1,h2,h3,h4{
  font-size: 2rem;
}


body{
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

#post_content{
  width: 300px;
  height: 50px;
}

.blog_content p{
  padding-right: 10px;
  display: block;
}

.table_content{
  height:100%;
  width:100%;
  display: grid;
  align-content: center;
  justify-items: center;
}

.table_content th,td{
  padding-right: 20px;
}

footer{
  background-color: rgb(245, 149, 93);
  width: 100%;
  height: 80px;
  margin-top: 50px;
}